input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.login
{
    position: relative;
    width: 100%;
}

.login__content
{
    align-items: center;
    border: .5px solid #B2B2B2;
    border-right: 0;
    border-radius: 8px;
    display: flex;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 800px;
}

.login__form
{
    width: 50%;
}

.login__form__content
{
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 65%;
}

.login__form__content--h2
{
    padding-bottom: 1em;
}

.login__form__container-cmp
{
    display: flex;
    align-items: center;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.login__form__content--cmp
{
    height: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.login__form__content--btn
{
    background-color: $rojo;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    height: 33px;
    margin-bottom: 1em;
    width: 100%;
}

.login__form__content--a
{
    color: $rojo;
    font-size: 12px;
    font-weight: bold;
}

.login__fig
{
    height: 100%;
    width: 50%;
}

.login__img
{
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}